@import "../../sass/vars.sass"

.exchange-BTC-QIWIRUB__attention
	padding: 35px 20px 40px
	margin-bottom: 40px
	background-color: #fff
	border: 0.4px solid #ddd
	.after-payment-bid__accomplished
		color: $main_color
		line-height: 1.2
	p
		margin-bottom: 20px
		a
			color: $main_color
			text-decoration: underline
			&:hover
				text-decoration: none
			&:active
				text-decoration: none
			&:focus
				text-decoration: none

// media

@import '../../sass/_media.sass'